<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        font-family: 'Courier New', Courier, monospace;
        margin: 0;
        padding: 0;
      }
      p,
      h1,
      h3 {
        padding: 20px;
      }
      a:visited {
        color: skyblue;
      }
      ol,
      ul {
        padding: 20px 50px;
      }
    </style>
  </head>
  <body>
    <h1>Hello world!</h1>

    <h3>This is your <a href="{% url 'receipts:index' %}">Receipts</a> app!</h3>
    <hr />
    {% block content %}{% endblock content %}
  </body>
</html>
